input.text#host(value=eth0_address, style="display:none")
.btn-group                  
  input.range#servo-slide(type="range", min="0", max="169", step="1", value="85")
  input.interval#servo-value(type="input", value="85", disabled="disabled") 
pre#connection-log